<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CondicionesParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CondicionesParser.Properties.Settings>
            <setting name="Mayor" serializeAs="String">
                <value>CondicionesParser.Estrategias.OperadorMayor</value>
            </setting>
            <setting name="Distinto" serializeAs="String">
                <value>CondicionesParser.Estrategias.OperadorMayor</value>
            </setting>
            <setting name="Igual" serializeAs="String">
                <value>CondicionesParser.Estrategias.OperadorIgual</value>
            </setting>
            <setting name="Menor" serializeAs="String">
                <value>CondicionesParser.Estrategias.OperadorMenor</value>
            </setting>
            <setting name="MayorIgual" serializeAs="String">
                <value>CondicionesParser.Estrategias.OperadorMayorIgual</value>
            </setting>
            <setting name="MenorIgual" serializeAs="String">
                <value>CondicionesParser.Estrategias.OperadorMenorIgual</value>
            </setting>
          <setting name="Mayor-Igual" serializeAs="String">
            <value>CondicionesParser.Estrategias.OperadorMayorIgual</value>
          </setting>
          <setting name="Menor-Igual" serializeAs="String">
            <value>CondicionesParser.Estrategias.OperadorMenorIgual</value>
          </setting>
        </CondicionesParser.Properties.Settings>
	</applicationSettings>
</configuration>