<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<tipoParametro codigo="MMG" tipoDato="System.Int32" validador="CondicionesParser.Validadores.ValidadorMonto" />
	<tipoParametro codigo="MONTO" tipoDato="System.Int32" validador="CondicionesParser.Validadores.ValidadorMonto" />
  <tipoParametro codigo="MONTO-TOPE" tipoDato="System.Int32" validador="CondicionesParser.Validadores.ValidadorMonto" />
  <tipoParametro codigo="PORCENTAJE-ANTES" tipoDato="System.Int32" validador="CondicionesParser.Validadores.ValidadorPorcentaje" />
  <tipoParametro codigo="PORCENTAJE-DESPUES" tipoDato="System.Int32" validador="CondicionesParser.Validadores.ValidadorPorcentaje" />
	<tipoParametro codigo="EDAD" tipoDato="System.Int32" validador="CondicionesParser.Validadores.ValidadorEdad" />
	<tipoParametro codigo="TEXTO" tipoDato="System.String" validador="CondicionesParser.Validadores.ValidadorCadena" />
  <tipoParametro codigo="SEGURO" tipoDato="System.String" validador="CondicionesParser.Validadores.ValidadorCadena" />
  <tipoParametro codigo="INFORMACION-ADICIONAL" tipoDato="System.String" validador="CondicionesParser.Validadores.ValidadorCadena" />
	<tipoParametro codigo="PARENTEZCO" tipoDato="System.String" validador="CondicionesParser.Validadores.ValidadorCadena" />
	<tipoParametro codigo="PESO" tipoDato="System.Int32" validador="CondicionesParser.Validadores.ValidadorPeso" />
	<tipoParametro codigo="HORAS" tipoDato="System.Int32" validador="CondicionesParser.Validadores.ValidadorTiempo" />
  <tipoParametro codigo="HUESPEDES" tipoDato="System.Int32" validador="CondicionesParser.Validadores.ValidadorCantidad" />
  <tipoParametro codigo="BULTOS" tipoDato="System.Int32" validador="CondicionesParser.Validadores.ValidadorCantidad" />
  <tipoParametro codigo="CONSULTAS" tipoDato="System.Int32" validador="CondicionesParser.Validadores.ValidadorCantidad" />
  <tipoParametro codigo="DIAS" tipoDato="System.Int32" validador="CondicionesParser.Validadores.ValidadorCantidad" />
  <tipoParametro codigo="ANIO" tipoDato="System.Int32" validador="CondicionesParser.Validadores.ValidadorCantidad" />
  <tipoParametro codigo="MES" tipoDato="System.Int32" validador="CondicionesParser.Validadores.ValidadorCantidad" />
  <tipoParametro codigo="GENERAL" tipoDato="System.Int32" validador="CondicionesParser.Validadores.ValidadorGeneral" />
  <tipoParametro codigo="REFERENCIA-CLAUSULA" tipoDato="System.Boolean" validador="CondicionesParser.Validadores.ValidadorBoolean" />
  <tipoParametro codigo="REFERENCIA-POLIZAS" tipoDato="System.Boolean" validador="CondicionesParser.Validadores.ValidadorBoolean" />
  <tipoParametro codigo="LIMITE-TERRITORIAL" tipoDato="System.Boolean" validador="CondicionesParser.Validadores.ValidadorBoolean" />
  <tipoParametro codigo="RUBRO" tipoDato="System.String" validador="CondicionesParser.Validadores.ValidadorRubro" />
  <tipoParametro codigo="DIAS-CONSECUTIVOS" tipoDato="System.Int32" validador="CondicionesParser.Validadores.ValidadorTiempo" />
  <tipoParametro codigo="DESTINADO" tipoDato="System.String" validador="CondicionesParser.Validadores.ValidadorDestinado" />
  <tipoParametro codigo="CLAUSULA-ASOCIADA" tipoDato="System.String" validador="CondicionesParser.Validadores.ValidadorCadena" />
  <tipoParametro codigo="UNIDAD-MEDICION" tipoDato="System.String" validador="CondicionesParser.Validadores.ValidadorCadena" />  
  <!-- INICIO - No se que es .. solo para mantener compatibilidad -->
  <tipoParametro codigo="MONTO1" tipoDato="System.Int32" validador="CondicionesParser.Validadores.ValidadorMonto" />
  <tipoParametro codigo="MONTO2" tipoDato="System.Int32" validador="CondicionesParser.Validadores.ValidadorMonto" />
  <!-- FIN - No se que es .. solo para mantener compatibilidad -->
</configuration>