<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CapaNegocioDatos" version="1.0.1" targetFramework="net40" />
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net40" />
  <package id="CrystalDecisions.ReportAppServer" version="1.0.0" targetFramework="net40" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net40" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net40" />
  <package id="CrystalDecisions.Web" version="1.0.1" targetFramework="net40" />
  <package id="DTOMapper" version="1.0.0" targetFramework="net40" />
  <package id="DynamicWsSetup" version="1.0.0" targetFramework="net40" />
  <package id="FrameworkDAC" version="1.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net40" />
  <package id="Seguridad" version="1.0.0" targetFramework="net40" />
  <package id="ServerDAC" version="1.0.0" targetFramework="net40" />
  <package id="ServerMSG" version="1.0.0" targetFramework="net40" />
  <package id="ServerTMP" version="1.0.0" targetFramework="net40" />
  <package id="WorkFlowLibrary" version="1.0.0" targetFramework="net40" />
</packages>