<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CondicionesMigracion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CondicionesMigracion.Properties.Settings>
            <setting name="CnxStrCondiciones" serializeAs="String">
                <value>Data Source=172.16.1.105;Initial Catalog=Condiciones;User ID=cominottil;Password=lorena;" providerName="System.Data.SqlClient</value>
            </setting>
            <setting name="CnxStrPortal" serializeAs="String">
                <value>Data Source=172.16.1.105;Initial Catalog=Portal;User ID=cominottil;Password=lorena;" providerName="System.Data.SqlClient</value>
            </setting>
        </CondicionesMigracion.Properties.Settings>
    </userSettings>
    <connectionStrings>
      <add name="Condiciones" connectionString="Data Source=172.16.1.105;Initial Catalog=Condiciones;User ID=cominottil;Password=lorena;" providerName="System.Data.SqlClient"/>
      <add name="Portal" connectionString="Data Source=172.16.1.105;Initial Catalog=Portal;User ID=cominottil;Password=lorena;" providerName="System.Data.SqlClient"/>      
      <add name="Xam" connectionString="Data Source=172.16.1.105;Initial Catalog=ASSISTCARD;User ID=cominottil;Password=lorena;" providerName="System.Data.SqlClient"/>
      <!--add name="Condiciones" connectionString="Data Source=172.17.0.111\ANDROMEDA;Initial Catalog=CondicionesPreProduccion;User ID=sa;Password=kingkong;" providerName="System.Data.SqlClient"/>
      <add name="Portal" connectionString="Data Source=172.17.0.111\ANDROMEDA;Initial Catalog=Portal;User ID=sa;Password=kingkong;" providerName="System.Data.SqlClient"/>
      <add name="Xam" connectionString="Data Source=172.17.1.35;Initial Catalog=ASSISTCARD;User ID=lcominotti;Password=lorena;" providerName="System.Data.SqlClient"/-->
    </connectionStrings>
</configuration>