<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Condiciones.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="URLDocumentos" value="http://condiciones.dev.assist-card.com/Documento/DescargaDeDocumento.aspx?IdDocumento=%documento%CodigoVerificacion=%codigoverificacion%" />
		<add key="MessagingConfigurationFile" value="\\Configuration\\Mail.xml" />
		<add key="PaginaInicial" value="~/default.aspx" />
		<add key="PaginaLogin" value="http://portal.dev.assist-card.com/Usuarios/LogIn.aspx" />
		<add key="FileMaxSize" value="8388608" />
	</appSettings>
	<connectionStrings>
    <add connectionString="Data Source=sql211_dev.assist-card.com.ar;Initial Catalog=Condiciones;User ID=PortalAdm_APP;Password=AqSFBz7uxP;Connection Timeout=120;Min Pool Size=0;Max Pool Size=1000;Pooling=true;" name="Condiciones" providerName="System.Data.SqlClient" />
    <add name="Portal" connectionString="Data Source=sql211_dev.assist-card.com.ar;Initial Catalog=Portal;User ID=PortalAdm_APP;Password=AqSFBz7uxP;" providerName="System.Data.SqlClient" />
    <add name="WorkFlow" connectionString="Data Source=sql211_dev.assist-card.com.ar;Initial Catalog=WorkFlow;User ID=PortalAdm_APP;Password=AqSFBz7uxP;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<location path="Consulta">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Documento">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<system.web>
		<httpRuntime maxRequestLength="8192" requestValidationMode="2.0"></httpRuntime>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<!-- authentication mode="Windows"/ -->
		<authentication mode="Forms">
			<forms name=".PORTALAUTH" path="/" protection="All" timeout="1" loginUrl="http://portal.dev.assist-card.com/Usuarios/LogIn.aspx" defaultUrl="http://portal.dev.assist-card.com" />
		</authentication>
		<machineKey validationKey="50F7695594C8D0302910D518BC5F08E2A610DC05CF96F3859E7EA42B47197A24" decryptionKey="014E4615FB58D6990C767C2943C35E8F40BBE296AC78F3B7" validation="SHA1" />
		<customErrors mode="Off">
		</customErrors>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />


    <urlMappings enabled="true">
      <add url="~/Default.aspx" mappedUrl="/Handlers/CondicionesHandler.ashx" />
    </urlMappings>
  
  </system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IServicioClausulas" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="9000000" maxReceivedMessageSize="9000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="9000000" maxArrayLength="9000000" maxBytesPerRead="9000000" maxNameTableCharCount="9000000" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
					</security>
				</binding>
				<binding name="WSHttpBinding_IServicioClausulas1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="9000000" maxReceivedMessageSize="9000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="9000000" maxArrayLength="9000000" maxBytesPerRead="9000000" maxNameTableCharCount="9000000" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:4358/ServicioClausulas.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServicioClausulas" contract="ServicioClausulas.IServicioClausulas" name="WSHttpBinding_IServicioClausulas">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="http://srvdevaci01.assist-card.com.ar:8027/ServicioClausulas.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServicioClausulas1" contract="ServiceReference1.IServicioClausulas" name="WSHttpBinding_IServicioClausulas1">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
	<applicationSettings>
		<Condiciones.Properties.Settings>
   <setting name="Ubicacion" serializeAs="String">
    <value>C:/Websites/CondicionesParser/</value>
   </setting>
   <setting name="Condiciones_com_assist_card_serviciocondiciones_ServicioClausulasWS" serializeAs="String">
    <value>http://serviciocondiciones.assist-card.com/ServicioClausulasWS.asmx</value>
   </setting>
   <setting name="Condiciones_ClausulasWSPreProd_ServicioClausulasWS" serializeAs="String">
    <value>http://benefitsws.pre.assist-card.com/ServicioClausulasWS.asmx</value>
   </setting>
   <setting name="Condiciones_ClausulasWSLocalHost_ServicioClausulasWS" serializeAs="String">
    <value>http://localhost:4736/ServicioClausulasWS.asmx</value>
   </setting>
   <setting name="Condiciones_ClausulasWSTest_ServicioClausulasWS" serializeAs="String">
    <value>http://benefitsws.dev.assist-card.com/ServicioClausulasWS.asmx</value>
   </setting>
  </Condiciones.Properties.Settings>
	</applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
