<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CondicionesMigracion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CondicionesMigracion.Properties.Settings>
            <setting name="CnxStrCondiciones" serializeAs="String">
                <value>Data Source=172.17.0.111\ANDROMEDA;Initial Catalog=Condiciones;User ID=sa;Password=kingkong;" providerName="System.Data.SqlClient</value>
            </setting>
            <setting name="CnxStrPortal" serializeAs="String">
                <value>Data Source=172.17.0.111\ANDROMEDA;Initial Catalog=Portal;User ID=sa;Password=kingkong;" providerName="System.Data.SqlClient</value>
            </setting>
        </CondicionesMigracion.Properties.Settings>
    </userSettings>
    <connectionStrings>
      <add name="Condiciones" connectionString="Data Source=172.17.0.111\ANDROMEDA;Initial Catalog=CondicionesFinal;User ID=sa;Password=kingkong;" providerName="System.Data.SqlClient"/>
      <add name="Portal" connectionString="Data Source=172.17.0.111\ANDROMEDA;Initial Catalog=Portal;User ID=sa;Password=kingkong;" providerName="System.Data.SqlClient"/>
      <add name="ACNet" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.1.100)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=o9aciP)));uid=COMINOTTIL;pwd=LORE6767;"/>
    </connectionStrings>
</configuration>